@model Colore.Models.Requisitos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Requisitos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.escolaridade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.escolaridade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.experiencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.experiencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idiomas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idiomas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.area)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
