@model Colore.Models.Formacao

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Formacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nivel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nivel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.instituicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.instituicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagemDiploma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagemDiploma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
