@model IEnumerable<Colore.Models.Formacao>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nivel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.instituicao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagemDiploma)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nivel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.instituicao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imagemDiploma)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
